@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(20px); /* Starts from below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Ends at original position */
    }
  }
  
  .reveal-text {
    animation: reveal 1.5s ease-out;
  }